@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
  flex:1;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
.header{
  display:flex;
  justify-content:space-between ;
}
ul{
  list-style-type:none;
  display:flex;
  gap:10px;
  margin:0px;
  padding-left:10px;
  padding-right:10px;
}
li,a{
  color:gray;
}
.content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom:150px;
}
.footer{
  display:flex;
  justify-content: space-between;
  background-color: rgb(233, 232, 232);
}